<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start">
      <ion-menu-button menu = "menu1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Offers</ion-title>
    <ion-buttons slot = "primary">
      <ion-button routerLink = "/lugares/tabs/ofertas/new">
        <ion-icon name = "add" slot = "icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size = "12" size-sm = "8" offset-sm = "2" text-center>
        <ion-list>
          <ion-item *ngFor = "let lugar of ofertas" [routerLink] = "['/', 'lugares', 'tabs', 'ofertas', lugar.id]" detail>
            <ion-thumbnail slot = "start">
              <ion-img [src] = "lugar.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{lugar.titulo}}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
